*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 10px;
    height: 80px;
    
}

#logo{
    vertical-align: middle;
}

.title{
    display: inline;
    margin: 0 10px;
}