/* *** commons *** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

.container-md{
    width: 70%;
    margin: 50px auto 0px;
    background-color: white;

    /* da rimuover */
    height: 500px;
}

li{
    list-style: none;
}




/* *** header ***  */

header{
    height: 70px;
    background-color: white;
    padding: 10px 30px;
}

.logo{
    vertical-align: middle;
}

.logo-text{
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
}



/* *** main ***  */


/* *** main-top *** */

.main-top{
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 7px;
}

.main-top button{
    padding: 5px 10px;
    border-radius: 5px;
}

.blue{
    background-color: rgb(117, 185, 228);
    color: white;
    border: none;
}

.white{
    background-color: white;
    color: rgb(184, 184, 184);
    border: 1px solid grey;
}


/* *** main-bottom *** */


.main-bottom{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 7px;
}


.description::before{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.check::before{
    content: '\2713';
    border: 1px solid green;
    color: green;
}

.deleted::before{
    content: '\2715';
    border: 1px solid red;
    color: red;
}

section{
    padding-bottom: 30px;
}

.spazio-riga{
    padding-top: 10px;
}


.tag{
    border-radius: 10px;
    padding: 6px;
    font-size: 11px;
    color: white;
}

.azzurro{
    background-color: rgb(117, 185, 228);
}
.violet{
    background-color: violet;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: pink;
}









